@using DevExtreme.AspNet.Mvc
@using DevExtreme.AspNet.Mvc.Builders
@using ISNPSWeb.Models.ProfileInfo

@model ChangePassword_DTO
@{
    ViewData["Title"] = "ChangePassword";
}

<script src="~/js/Pages/ProfileInfo/change.js"></script>

<form name="changePassword" asp-controller="ProfileInfo" asp-action="ChangePassword" mehod="POST" autocomplete="off">
    <div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div>@(Html.DevExtreme().TextBoxFor(m => m.OldPassword).LabelMode(EditorLabelMode.Floating).Label("OldPassword"))</div>
        </div>
        <div class="col-md-4">
            <div>@(Html.DevExtreme().TextBoxFor(m => m.NewPassword).LabelMode(EditorLabelMode.Floating).Label("NewPassword"))</div>
        </div>
        <div class="col-md-4">
            <div>@(Html.DevExtreme().TextBoxFor(m => m.ConfirmPassword).LabelMode(EditorLabelMode.Floating).Label("ConfirmPassword"))</div>
        </div>
        </div>   
        <div class="modal-footer">
    @(Html.DevExtreme().Button().Type(ButtonType.Success).Text("Сохранить").OnClick("onSubmitClick"))
    </div>
    </div>
</form>